@import  "../mixins/mixin";
@import "../config";
@import "../mixins/screen_mixin";
.header {
    width: 100%;
    height: 100vh;

    @include tablet {
        width: 100%;
        min-height: 100vh;
    }
    @include phone {
        width: 100%;
        height: 100%;
    }
}
.header_controls {
    width: 25%;
    height: 100%;

    @include display(row, center);

    @include phone {
        width: 100%;
        height: 100%;

        @include display(row, center);
    }
}

.header_top {

    @include display(row, flex-start);
    
    width: 100%;
    height: 10%;


    @include phone {
        width: 100%;
        height: fit-content;

        @include display(column, center);
    }
    &__signIn {
        display: block;
        padding: 8px 25px;
        color: black;
        font-weight: bolder;

        @include phone {
            display: block;
            padding: 8px 25px;
            color: black;
            font-weight: bolder;
            font-size: 2rem;
        }
    }
    &__signUp {
        @extend .header_top__signIn;
        border: 1px solid #F53855;
        border-radius: 20px;
        color: #F53855;
        transition: all .3s;

        &:hover {
            background-color: #F53855;
            color: #fff;
            transition: all .3s;
        }
    }
}
.header_logo {
    width: 25%;
    height: 100%;

    @include display(row, flex-start);

    @include phone{
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
        
        @include display(column, flex-start);
    }

    
    
    &__img {
        background-image: url("./img/logo.png");
        width: 40px;
        height: 40px;
        background-size: cover;

        @include phone {
            display: none;
        }
    }
    &__title {
        font-size: 1.3rem;
        font-weight: bold;
        margin-left: 5px;
        height: fit-content;
        color: $titleColor;

        @include phone {
            font-size: 3rem;
            font-weight: bold;
            height: fit-content;
            color: $titleColor;
        }
    }
}
.logoWidth {
    font-weight: bolder;
}

.header_middle {
    width: 100%;
    height: 55%;
    
    @include display(row, center);
    @include tablet {
        width: 100%;
        height: 50%;

        @include display(column,center);
    }

    @include phone {
        width: 100%;
        height: fit-content;

        @include display(column, center);
    }
    &_left {
        width: 50%;
        height: 100%;

        @include display(column, center);
        align-items: flex-start;

        

        @include tablet {
            width: 50%;
            height: 100%;
            @include display(column, center);
        }
        @include phone {
            width: 100%;
            height: 100%;
            padding: 40px;

            @include display(column, center);
            align-items: center;
        }
        &__title {
            @include title(50px);
            margin-bottom: 20px;
            line-height: 80px;
            width: 555px;
            height: 140px;

            @include tablet {
                text-align: center;
                margin-bottom: 50px;
            }

            @include phone{
                font-size: 2.2rem;
                margin-bottom: 20px;
                margin-top: 20px;
                line-height: 40px;
                width: 100%;
                text-align: center;
            }
        }
        &__dest {
            @include text(16px);
            line-height: 30px;
            margin-bottom: 50px;
            width: 555px;
            height: 60px;

            @include tablet{
                font-size: 1.1rem;
                text-align: center;
            } 
            @include phone{
                font-size: 1.4rem;
                margin-bottom: 100px;
                line-height: 40px;
                width: 100%;
                text-align: center;
            }
        }
        &__btn {
            display: block;
            padding: 17px 77px;
            color: #fff;
            background-color: #F53838;
            border-radius: 10px;
            font-weight: bolder;
            transition: all .3s;
            border: 2px solid #F53838;

            &:hover {
                border: 2px solid #F53838;
                color: #F53838;
                background-color: #fff;
                transition: all .3s;
            }
        }
        
    }
    &_right {
        width: 50%;
        height: 100%;
        
        @include display(column, center);

        @include tablet{
            display: none;
        }

        &__img {
            width: 100%;
        }
    }

}
.header_middle_right_wrap {
    width: 100%;
    height: fit-content;
    @include display(column, center);
}
.header_bottom {
    width: 100%;
    height: 35%;
}

.header_stat {
    width: 100%;
    height: 100%;

    @include display(row, space-evenly);

    @include tablet {
        width: 100%;
        height: 100%;

        @include display(row, space-around);
    }
    
    &_item {
        width: 125px;
        height: 100px;
        @include display(row, space-between);
    }
    &__cont {
        font-weight: bolder;
        color: $titleColor;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    &__nane {
        color: $textColor;
    }
    @include phone {
        display: none;
    }
    
}
.header_stat_img {
    width: 50%;
    height: 100%;


    @include display(row, center);
}
.header_stat_wrap {
    width: 50%;
    height: 100%;
    margin-left: 25px;
    
    @include display(column, center);
    align-items: flex-start;
}
@import "../blocks/menu";