@import "../mixins/screen_mixin";
@import "../mixins/mixin";
.header_menu {
    width: 50%;
    height: 100%;

    @include display(row, center);

    @include phone {
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
        
        @include display(column, center);
    }

    &_item {

        &__link {
            display: block;
            padding: 8px 19px;
            color: $textColor;

            @include phone {
                font-size: 1.9rem;
            }
        }
    }
}
