@import "../config";
@import "../mixins/mixin";
@import "../mixins/screen_mixin";

.plan {
    width: 100%;
    height: 1050px;

    @include display(column, center);

    &__title {
        @include title(35px, bold);
        line-height: 50px;
        margin-bottom: 20px;
    }
    &__text {
        @include text(16px);
        line-height: 30px;
        margin-bottom: 60px;

        @include phone{
            @include text(16px);
            width: 100%;
            text-align: center;
        }
    }
    
    @include phone{
        padding-top: 50px;
        width: 100%;
        height: fit-content;
    }
}
.plan_text_wrap {
    width: 100%;
    height: fit-content;

    @include display(column, center);

    @include phone{
        width: 100%;
        height: fit-content;
        text-align: center;
    }
}
.plan_card {
    width: 330px;
    height: 760px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    transition: all 0.3s;

    @include display(column, center);
    align-items: center;
    &__img {
        width: 145px;
        height: 165px;
    }

    &__title {
        @include title(18px);
        text-align: center;
        margin: 30px 0;
    }
    &__price {
        @include title(25px);
        line-height: 30px;
        margin-bottom: 20px;
    }
    &__btn {
        display: block;
        padding: 13px 62px;
        font-size: 16px;
        color: #F53838;
        border: 2px solid #F53838;
        border-radius: 50px;
        transition: all 0.3s;
        
        &:hover {
            background-color: #F53838;
            color: #fff;
            transition: all 0.3s;
        }

    }
    &:hover {
        border: 2px solid #F53838;
        transition: all 0.3s;
    }

    @include phone{
        margin-bottom: 50px;
    }

}
.plan_card_img_wrap {
    width: fit-content;
    height: fit-content;
    @include display(column,center);
}
.plan_card_list {
    width: 100%;
    height: fit-content;
    margin-bottom: 130px;


    @include display(column, center);

    &__item {
        @include text(14px);
        line-height: 30px;
        margin-bottom: 10px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: -24px;
            top: 10px;
            width: 13px;
            height: 13px;
            background-image: url("./img/tickNb.png");
            background-repeat: no-repeat;
        }
    }
    
}
.plan_card_price_wrap {
    width: 100%;
    height: fit-content;
    
    @include display(column, center);
}
.plan_content {
    width: 100%;
    height: fit-content;

    @include display(row, space-evenly);

    @include phone{
        width: 100%;
        height: fit-content;

        @include display(column, center);
    }
}
.price_date {
    color: $textColor;
}
.middle_card {
    @extend .plan_card_list;
    margin-bottom: 90px;
}
.last {
    @extend .plan_card_list;
    margin-bottom: 50px;
}