@import "../config";
@import "../mixins/mixin";
@import "../mixins/screen_mixin";
.subscribe {
    width: 100%;
    height: 400px;
    padding: 0 70px;

    @include display(row, space-between);

    @include tablet {
        width: 100%;
        min-height: 100%;
        @include display (column, center);
    }
    @include phone {
        width: 100%;
        min-height: 100%;
        
    }

    &__title {
        @include title(35px);
        line-height: 45px;
        width: 371px;
        height: 80px;
        margin-bottom: 20px;

        @include tablet {
            @include title(24px);
            text-align: center
        }
    }
    &__text {
        @include text(16px);
        line-height: 30px;
        width: 410px;
        height: 16px;

        @include tablet {
            display: none;  
        }
    }

    &__btn {
        display: block;
        font-size: 16px;
        line-height: 25px;
        color: #Fff;
        background-color: #F53838;
        padding: 17px 65px;
        border: 1px solid #F53838;
        transition: all .3s;
        border-radius: 10px;
        font-weight: bolder;

        &:hover {
            background-color: #Fff;
            color: #F53838;
            transition: all .3s;
        }
    }
}
.subscribe_left {
    width: 50%;
    height: fit-content;

    @include display(column, center);
    align-items: flex-start;

    @include tablet {
        width: fit-content;
        height: 50%;
        @include display (column, flex-end);
    }
}
.subscribe_right {
    width: 50%;
    height: fit-content;

    @include display(column, center);
    align-items: flex-end;

    @include tablet {
        width: fit-content;
        height: 50%;
        @include display (column, center);
        align-items: center;
    }
}