@import "../config";
@import "../mixins/mixin";
@import "../mixins/screen_mixin";
.trusted_card {
    width: 400px;
    height: 230px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 30px;    
    @include display(column, space-between);


    @include tablet{
        margin-bottom: 10px;
    }
    &:hover {
        border: 2px solid #F53838;
    }
    &__name {
        @include title(18px);
        line-height: 30px;
        width: 150px;
        height: 18px;
    }
    &__location {
        @include text(14px);
        line-height: 30px;

    }

    &__img {
        width: 50px;
        height: 50px;
    }
    &__grade {
        @include title(16px);
        position: relative;
        margin-right: 22px;
        margin-left: 77px;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -22px;
            width: 13px;
            height: 13px;
            background-image: url(./img/star.png);
        }
    }
    &__text {
        @include title(16px, 500);
        line-height: 30px;
    }
}
.trusted_card_top {
    width: 100%;
    height: 20%;
    margin-bottom: 10px;
    
    @include display(row, center);
}
.trusted_card_person {
    width: fit-content;
    height: fit-content;
    
    @include display(row, center);

}
.trusted_card_img_wrap{
    width: 100%;
    height: fit-content;
}
.trusted_card_name_wrap {
    width: 100%;
    height: fit-content;
    padding: 0 10px 10px 10px;

    @include display(column, flex-end);
    align-items: flex-start;
}
.trusted_card_bottom {
    width: 100%;
    height: 80%;


    @include display (column, flex-start);
    align-items: center;
}