@import "../config";
@import "../mixins/mixin";
@import "../mixins/screen_mixin";
.trusted_controls {
    width: 100%;
    height: fit-content;

    @include display(row, space-between);
    

    &__point {
        width: 15px;
        height: 15px;
        margin-right: 15px;

        background: url(./img/krujok.png);

        &--active {
            width: 45px;
            height: 15px;
            margin-right: 15px;
            background: url(./img/cherto4kaR.png);
        }
    }
    &__btn {
        display: block;
        width: 60px;
        height: 60px;
        padding: 15px 15px;
        border: 2px solid #F53838;
        border-radius: 50%;
        color: #F53838;
        font-size: 1.5rem;
        font-weight: 800;
        margin-right: 15px;
        transition: all .3s;


        &:hover  {
            border: 2px solid #F53838;
            color: #Ffff;
            background-color: #F53838;
            transition: all .3s;


        }
    }
}
.trusted_controls_left {
    width: 50%;
    height: fit-content;

    @include display(row, flex-start);
}
.trusted_controls_rigt {
    width: 50%;
    height: fit-content;

    @include display(row, flex-end);

}
