@import "../config";
@import "../mixins/mixin";
@import "../mixins/screen_mixin";

.trusted {
    width: 100%;
    height: 100vh;

    
    @include display(column, space-evenly);

    @include tablet {
        width: 100%;
        height: 100%;
    }
    @include phone{
        width: 100%;
        height: 100%;
    }

    &__title {
        @include title(35px);
        width: 447px;
        height: 100px;
        line-height: 50px;
        margin-bottom: 20px;
        text-align: center;
    }
    &__text {
        @include text(16px);
        width: 555px;
        height: 60px;
        line-height: 30px;
        text-align: center;

        @include phone{
            margin-bottom: 20px;
            width: 535px;
            height: 80px;
        }
    }

}
.trusted_text_wrap {
    width: 100%;
    height: fit-content;
    
    @include display(column,center);
}
.trusted_content{
    width: 100%;
    height: fit-content;

    @include display (row, space-between);
    
    @include tablet{
        @include display (column, space-between);
    }
    @import "./trusted_card";
}

@import "./trusted_controls";