* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.wrap {
  width: 1440px;
  height: auto;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .wrap {
    width: 960px;
    height: auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .wrap {
    width: 540px;
    height: auto;
    margin: 0 auto;
  }
}

.header {
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 992px) {
  .header {
    width: 100%;
    min-height: 100vh;
  }
}
@media screen and (max-width: 576px) {
  .header {
    width: 100%;
    height: 100%;
  }
}

.header_controls {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 576px) {
  .header_controls {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10%;
}
@media screen and (max-width: 576px) {
  .header_top {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header_top__signIn, .header_top__signUp {
  display: block;
  padding: 8px 25px;
  color: black;
  font-weight: bolder;
}
@media screen and (max-width: 576px) {
  .header_top__signIn, .header_top__signUp {
    display: block;
    padding: 8px 25px;
    color: black;
    font-weight: bolder;
    font-size: 2rem;
  }
}
.header_top__signUp {
  border: 1px solid #F53855;
  border-radius: 20px;
  color: #F53855;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.header_top__signUp:hover {
  background-color: #F53855;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header_logo {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 576px) {
  .header_logo {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header_logo__img {
  background-image: url("./img/logo.png");
  width: 40px;
  height: 40px;
  background-size: cover;
}
@media screen and (max-width: 576px) {
  .header_logo__img {
    display: none;
  }
}
.header_logo__title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #0B132A;
}
@media screen and (max-width: 576px) {
  .header_logo__title {
    font-size: 3rem;
    font-weight: bold;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    color: #0B132A;
  }
}

.logoWidth {
  font-weight: bolder;
}

.header_middle {
  width: 100%;
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .header_middle {
    width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .header_middle {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header_middle_left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 992px) {
  .header_middle_left {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .header_middle_left {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
  }
}
.header_middle_left__title {
  font-size: 50px;
  font-weight: bold;
  color: #0B132A;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
  line-height: 80px;
  width: 555px;
  height: 140px;
}
@media screen and (max-width: 992px) {
  .header_middle_left__title {
    text-align: center;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 576px) {
  .header_middle_left__title {
    font-size: 2.2rem;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 40px;
    width: 100%;
    text-align: center;
  }
}
.header_middle_left__dest {
  font-size: 16px;
  color: #4F5665;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 30px;
  margin-bottom: 50px;
  width: 555px;
  height: 60px;
}
@media screen and (max-width: 992px) {
  .header_middle_left__dest {
    font-size: 1.1rem;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .header_middle_left__dest {
    font-size: 1.4rem;
    margin-bottom: 100px;
    line-height: 40px;
    width: 100%;
    text-align: center;
  }
}
.header_middle_left__btn {
  display: block;
  padding: 17px 77px;
  color: #fff;
  background-color: #F53838;
  border-radius: 10px;
  font-weight: bolder;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 2px solid #F53838;
}
.header_middle_left__btn:hover {
  border: 2px solid #F53838;
  color: #F53838;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.header_middle_right {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .header_middle_right {
    display: none;
  }
}
.header_middle_right__img {
  width: 100%;
}

.header_middle_right_wrap {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_bottom {
  width: 100%;
  height: 35%;
}

.header_stat {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .header_stat {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header_stat_item {
  width: 125px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_stat__cont {
  font-weight: bolder;
  color: #0B132A;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.header_stat__nane {
  color: #4F5665;
}
@media screen and (max-width: 576px) {
  .header_stat {
    display: none;
  }
}

.header_stat_img {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_stat_wrap {
  width: 50%;
  height: 100%;
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header_menu {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 576px) {
  .header_menu {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header_menu_item__link {
  display: block;
  padding: 8px 19px;
  color: #4F5665;
}
@media screen and (max-width: 576px) {
  .header_menu_item__link {
    font-size: 1.9rem;
  }
}

.features {
  width: 100%;
  height: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .features {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .features {
    width: 100%;
    height: 100%;
  }
}
.features_left {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .features_left {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .features_left {
    width: 100%;
    height: 100%;
  }
}
.features_left__img {
  width: 508px;
  height: 414px;
}
.features_right {
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 576px) {
  .features_right {
    width: 100%;
    height: 100%;
  }
}
.features_right__title {
  font-size: 35px;
  font-weight: bold;
  color: #0B132A;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 50px;
  width: 384px;
  height: 100px;
}
@media screen and (max-width: 992px) {
  .features_right__title {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .features_right__title {
    text-align: center;
  }
}
.features_right__text {
  font-size: 16px;
  color: #4F5665;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 30px;
  margin: 20px 0;
  width: 427px;
  height: 60px;
}
@media screen and (max-width: 992px) {
  .features_right__text {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .features_right__text {
    text-align: center;
  }
}

.features_img_wrap {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features_text_wrap {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 992px) {
  .features_text_wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.features_right_list {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 992px) {
  .features_right_list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .features_right_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.features_right_list__item {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 15px;
  color: #4F5665;
  position: relative;
}
.features_right_list__item::before {
  content: "";
  position: absolute;
  left: -24px;
  top: 5px;
  width: 20px;
  height: 20px;
  background-image: url("./img/tick.png");
  margin-right: 12px;
  background-size: cover;
}

.plan {
  width: 100%;
  height: 1050px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.plan__title {
  font-size: 35px;
  font-weight: bold;
  color: #0B132A;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 50px;
  margin-bottom: 20px;
}
.plan__text {
  font-size: 16px;
  color: #4F5665;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 30px;
  margin-bottom: 60px;
}
@media screen and (max-width: 576px) {
  .plan__text {
    font-size: 16px;
    color: #4F5665;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .plan {
    padding-top: 50px;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.plan_text_wrap {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 576px) {
  .plan_text_wrap {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
  }
}

.plan_card {
  width: 330px;
  height: 760px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}
.plan_card__img {
  width: 145px;
  height: 165px;
}
.plan_card__title {
  font-size: 18px;
  font-weight: bold;
  color: #0B132A;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  margin: 30px 0;
}
.plan_card__price {
  font-size: 25px;
  font-weight: bold;
  color: #0B132A;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 30px;
  margin-bottom: 20px;
}
.plan_card__btn {
  display: block;
  padding: 13px 62px;
  font-size: 16px;
  color: #F53838;
  border: 2px solid #F53838;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.plan_card__btn:hover {
  background-color: #F53838;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.plan_card:hover {
  border: 2px solid #F53838;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 576px) {
  .plan_card {
    margin-bottom: 50px;
  }
}

.plan_card_img_wrap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan_card_list, .middle_card, .last {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.plan_card_list__item {
  font-size: 14px;
  color: #4F5665;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 30px;
  margin-bottom: 10px;
  position: relative;
}
.plan_card_list__item::before {
  content: "";
  position: absolute;
  left: -24px;
  top: 10px;
  width: 13px;
  height: 13px;
  background-image: url("./img/tickNb.png");
  background-repeat: no-repeat;
}

.plan_card_price_wrap {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan_content {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 576px) {
  .plan_content {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.price_date {
  color: #4F5665;
}

.middle_card {
  margin-bottom: 90px;
}

.last {
  margin-bottom: 50px;
}

.huge_global {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .huge_global {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 576px) {
  .huge_global {
    display: none;
  }
}
.huge_global__title {
  font-size: 35px;
  font-weight: bold;
  color: #0B132A;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 383px;
  height: 100px;
  line-height: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.huge_global__text {
  font-size: 16px;
  color: #4F5665;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 555px;
  height: 60px;
  line-height: 30px;
  margin-bottom: 155px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .huge_global__map {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (max-width: 992px) {
  .huge_global__sponsored {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.huge_text_wrap {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.huge_map_wrap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 992px) {
  .huge_map_wrap {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.huge_sponsored_wrap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 992px) {
  .huge_sponsored_wrap {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.trusted {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .trusted {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 576px) {
  .trusted {
    width: 100%;
    height: 100%;
  }
}
.trusted__title {
  font-size: 35px;
  font-weight: bold;
  color: #0B132A;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 447px;
  height: 100px;
  line-height: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.trusted__text {
  font-size: 16px;
  color: #4F5665;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 555px;
  height: 60px;
  line-height: 30px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .trusted__text {
    margin-bottom: 20px;
    width: 535px;
    height: 80px;
  }
}

.trusted_text_wrap {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trusted_content {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .trusted_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.trusted_content .trusted_card {
  width: 400px;
  height: 230px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .trusted_content .trusted_card {
    margin-bottom: 10px;
  }
}
.trusted_content .trusted_card:hover {
  border: 2px solid #F53838;
}
.trusted_content .trusted_card__name {
  font-size: 18px;
  font-weight: bold;
  color: #0B132A;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 30px;
  width: 150px;
  height: 18px;
}
.trusted_content .trusted_card__location {
  font-size: 14px;
  color: #4F5665;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 30px;
}
.trusted_content .trusted_card__img {
  width: 50px;
  height: 50px;
}
.trusted_content .trusted_card__grade {
  font-size: 16px;
  font-weight: bold;
  color: #0B132A;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  margin-right: 22px;
  margin-left: 77px;
}
.trusted_content .trusted_card__grade::after {
  content: "";
  position: absolute;
  top: 0;
  right: -22px;
  width: 13px;
  height: 13px;
  background-image: url(./img/star.png);
}
.trusted_content .trusted_card__text {
  font-size: 16px;
  font-weight: 500;
  color: #0B132A;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 30px;
}
.trusted_content .trusted_card_top {
  width: 100%;
  height: 20%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.trusted_content .trusted_card_person {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.trusted_content .trusted_card_img_wrap {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.trusted_content .trusted_card_name_wrap {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.trusted_content .trusted_card_bottom {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.trusted_controls {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.trusted_controls__point {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  background: url(./img/krujok.png);
}
.trusted_controls__point--active {
  width: 45px;
  height: 15px;
  margin-right: 15px;
  background: url(./img/cherto4kaR.png);
}
.trusted_controls__btn {
  display: block;
  width: 60px;
  height: 60px;
  padding: 15px 15px;
  border: 2px solid #F53838;
  border-radius: 50%;
  color: #F53838;
  font-size: 1.5rem;
  font-weight: 800;
  margin-right: 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.trusted_controls__btn:hover {
  border: 2px solid #F53838;
  color: #Ffff;
  background-color: #F53838;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.trusted_controls_left {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trusted_controls_rigt {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe {
  width: 100%;
  height: 400px;
  padding: 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .subscribe {
    width: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .subscribe {
    width: 100%;
    min-height: 100%;
  }
}
.subscribe__title {
  font-size: 35px;
  font-weight: bold;
  color: #0B132A;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 45px;
  width: 371px;
  height: 80px;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .subscribe__title {
    font-size: 24px;
    font-weight: bold;
    color: #0B132A;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
  }
}
.subscribe__text {
  font-size: 16px;
  color: #4F5665;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 30px;
  width: 410px;
  height: 16px;
}
@media screen and (max-width: 992px) {
  .subscribe__text {
    display: none;
  }
}
.subscribe__btn {
  display: block;
  font-size: 16px;
  line-height: 25px;
  color: #Fff;
  background-color: #F53838;
  padding: 17px 65px;
  border: 1px solid #F53838;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 10px;
  font-weight: bolder;
}
.subscribe__btn:hover {
  background-color: #Fff;
  color: #F53838;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.subscribe_left {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 992px) {
  .subscribe_left {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe_right {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 992px) {
  .subscribe_right {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
  }
}

.footer {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .footer {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    width: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer_left {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 992px) {
  .footer_left {
    width: 40%;
    height: 100%;
  }
}
@media screen and (max-width: 576px) {
  .footer_left {
    width: 100%;
    min-height: 100%;
  }
}
.footer_left__logoImg {
  width: 35px;
  height: 36px;
  background: url("./img/logo.png");
}
@media screen and (max-width: 992px) {
  .footer_left__logoImg {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .footer_left__logoImg {
    margin-right: 5px;
    display: block;
  }
}
.footer_left__logoText {
  font-size: 20px;
  font-weight: bold;
  color: #0B132A;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 23px;
  width: 104px;
  height: 24px;
  margin-left: 5px;
}
@media screen and (max-width: 992px) {
  .footer_left__logoText {
    margin: 0;
    text-align: center;
  }
}
.footer_left__text {
  font-size: 16px;
  color: #4F5665;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 30px;
  width: 330px;
  height: 61px;
  margin: 20px 0 30px 0;
}
@media screen and (max-width: 992px) {
  .footer_left__text {
    text-align: center;
  }
}
.footer_left__link {
  display: block;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
  border-radius: 50%;
}
.footer_left__copy {
  width: 132px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  color: #AFB5C0;
}

.footer_left_logo_wrap {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .footer_left_logo_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer_left_text_wrap {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 992px) {
  .footer_left_text_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer_left_control_wrap {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .footer_left_control_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer_left_copy_wrap {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 992px) {
  .footer_left_copy_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.facebook {
  background: url("./img/Facebook.png");
}

.twitter {
  background: url("./img/Twitter.png");
}

.instagram {
  background: url("./img/Instagram.png");
}

.footer_middle {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 576px) {
  .footer_middle {
    display: none;
  }
}
.footer_middle__title, .footer_right__title {
  font-size: 18px;
  font-weight: bold;
  color: #0B132A;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 30px;
  width: 71px;
  height: 30px;
  margin-bottom: 20px;
}

.footer_middle_left_wrap {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.footer_middle_right_wrap {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.footer_middle_menu, .footer_right_menu {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.footer_middle_menu_item, .footer_right_menu_item {
  margin-bottom: 10px;
}
.footer_middle_menu_item__link, .footer_right_menu_item__link {
  font-size: 16px;
  color: #4F5665;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 30px;
}

.footer_right {
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_right__title {
  width: 120px;
  height: 30px;
}

.footer_right_wrap {
  width: 100%;
  height: 100%;
  margin-left: 110px;
}
@media screen and (max-width: 992px) {
  .footer_right_wrap {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .footer_right_wrap {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */